<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button menu="menup"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Buscar Artista</ion-title>
    <ion-buttons slot="end">
      <ion-avatar class="ion-padding">
        <img src="../../../assets/img/music.png">
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content color="dark">
  <div class="buscar">
      <input #termino (keyup)="buscar(termino.value)" class="form-control" style="width: 100%; height:35px" type="text" placeholder="Nombre del Artista">
  </div>

  <ion-list>
    <ion-item (click)="verArtista(item)" class="bg-secondary text-center text-white" *ngFor="let item of artistas" color="dark" detail>
      <!--<img class="card-img-top" style="height: 400px;" [src]="item.images|imagenes" alt="Imagen no encontrada">-->
          <ion-label color="light">
              {{item.name}}
          </ion-label>
  
          <span style="display: block; margin: 5px" class="badge badge-info" *ngFor="let artista of item.artists">
              {{artista.name}}
          </span>
    </ion-item>
  </ion-list>
</ion-content>